@use '@angular/material' as mat;
@include mat.core();

html, body { height: 100%; }

body {
  margin: 0;
  font-family: Roboto, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
  font-size: 14px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.mat-drawer-inner-container {
  /*overflow: hidden !important;*/
}
