<mat-card appearance="outlined">
  <mat-card-header>
    <mat-card-title>{{ isView ? '' : isEdit ? 'Editar' : 'Nova' }} Recomendação</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-dialog-content>
      <div>
        <mat-form-field class="div-dialog-field">
          <mat-label>Peso Inicial</mat-label>
          <input matInput type="number" [(ngModel)]="item.pesoInicio" min="0" step="0.01">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Peso Final</mat-label>
          <input matInput type="number" [(ngModel)]="item.pesoFim" min="0" step="0.01">
        </mat-form-field>
      </div>
      <div>
        <mat-form-field class="div-dialog-field">
          <mat-label>Qtd Comprimidos</mat-label>
          <input matInput type="number" [(ngModel)]="item.qtdComprimidos" min="0">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Dose</mat-label>
          <input matInput [(ngModel)]="item.dose">
        </mat-form-field>
      </div>
      <div>
        <mat-form-field class="div-dialog-field">
          <mat-label>Dias</mat-label>
          <input matInput type="number" [(ngModel)]="item.dias" min="0">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Uso</mat-label>
          <mat-select [(ngModel)]="item.uso">
            <mat-option *ngFor="let cp of selectUso" [value]="cp">{{ cp }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </mat-dialog-content>
    <mat-dialog-actions>
      <button mat-raised-button color="primary" (click)="onSave()">Ok</button>
      <button mat-raised-button color="warn" (click)="onCancel()">Cancelar</button>
    </mat-dialog-actions>
  </mat-card-content>
</mat-card>
